<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce - Login</title>
    <link href="{{ url_for('login.static', filename='styles.css') }}" rel="stylesheet">
    <script src="//unpkg.com/alpinejs" defer></script>
</head>

<body>
    <div class="login-container" x-data="registerForm()">
        <div class="login-form">
            <h2>Ecommerce</h2>
            <div class="login-item">
                <p>Username</p>
                <input type="text" placeholder="Enter your username" x-model="username">
                <p>Password</p>
                <input type="password" placeholder="Enter your password" x-model="password">
                <p>Confirm Password</p>
                <input type="password" placeholder="Confirm your password" x-model="confirmPassword">
            </div>
            <div class="login-submit" x-on:click="submitRegister()">Register</div>
            <p style="color: red;" x-text="errorMsg"></p>
            <a class="login-register" href="{{ url_for('login.index') }}">Already have an account? Login</a>
        </div>
    </div>

    <script src="{{ url_for('login.static', filename='js/create.js')}}"></script>
</body>

</html>