<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce - Login</title>
    <link href="{{ url_for('login.static', filename='styles.css') }}" rel="stylesheet">
    <script src="//unpkg.com/alpinejs" defer></script>
</head>

<body>
    <div class="login-container" x-data="loginForm()">
        <div class="login-form">
            <h2>Ecommerce</h2>
            <div class="login-item">
                <p>Username</p>
                <input type="text" placeholder="Enter your username" x-model="username">

                <p>Password</p>
                <input type="password" placeholder="Enter your password" x-model="password">

            </div>
            <div class="login-submit" x-on:click="submitLogin()">Login</div>
            <a class="login-register" href="#">Don't have an account? Register</a>
        </div>

        <script src="{{ url_for('login.static', filename='js/index.js')}}"></script>
</body>

</html>