{% extends "base.html" %}

{% block title %}Create Sale{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('sales.static', filename='styles.css') }}">
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"></script>
{% endblock %}

{% block content %}
<h1>Create Sale</h1>

<div class="sales-create-form" x-data="createSaleForm()">
    <div class="sales-create-form-item">
        <h2>Description</h2>
        <textarea id="description" x-model="description"></textarea>
    </div>

    <div class="sales-create-form-item">
        <h2>SKU</h2>
        <input type="text" x-model="sku" placeholder="Enter SKU (integer value)">
    </div>

    <div class="sales-create-form-item">
        <h2>Discount</h2>
        <input type="text" placeholder="Enter discount value" x-model="discount"
            x-mask:dynamic="$money($input, '.', '')">
    </div>


    <div class="sales-submit-btn" x-on:click="submitSale()">Submit</div>
</div>

<script src="{{ url_for('sales.static', filename='js/create.js')}}"></script>
{% endblock %}