{% extends "base.html" %}

{% block title %}Create Product{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('projects.static', filename='styles.css') }}">
{% endblock %}

{% block content %}
<h1>Create Product</h1>

<div class="products-create-form" x-data="createProductForm()">
    <div class="products-create-form-item">
        <label for="name">Name:</label>
        <input type="text" id="name" x-model="name">
    </div>
</div>

<script src="{{ url_for('projects.static', filename='js/create.js')}}"></script>
{% endblock %}